body {
    background-color: #f2f2f2;
}

#app {
    padding: 0;
    background-image: url("/BG_white.svg");
    background-repeat: repeat-y;
    background-position-x: center;
    background-size: cover;
    transition: background-position-y 1.5s ease-in-out;
    height: 100vh;
    overflow: hidden;
}

section.screen {
    height: 100vh;
    position: relative;
}

/*.header-screen {
    background-color: paleturquoise;
}

 section.screen:nth-child(2) {
    background-color: purple;
}

section.screen:nth-child(3) {
    background-color: seagreen;
}

section.screen:nth-child(4) {
    background-color: tomato;
}

section.screen:nth-child(5) {
    background-color: steelblue;
} */

.header-bg {
    height: 50vh;
    background-image: url('/BG-first floor.png');
    background-size: cover;
    background-position: right bottom;
}

.slider-section {
    height: 50vh;
}

section.screen > .container {
    position: relative;
    /* height: 100vh; */
}

.sc-screen-title {
    left: 20%;
    top: 7vh;
    height: 10vh;
    position: absolute;

    font-family: Hind;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 77px;
    color: #0E293C;
}

.sc-screen-container {
    left: 10%;
    top: 20vh;
    height: 70vh;
    position: absolute;
    width: 80%;

    box-shadow: 0px 2px 50px rgba(14, 41, 60, 0.168627);
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding: 15px;
    text-shadow: 0px 0px 5px #000;
    background-size: cover;
}

.sc-screen-container > p {
    background-color: #1122339c;
    display: block;
    width: fit-content;
    padding: 5px 10px;
}

.totop-btn {
    background-image: url("/totop_btn.svg");
    background-size: contain;
    width: 5vw;
    height: 5vw;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 5vw;
    top: 1vw;
    min-width: 40px;
    min-height: 40px;
}
