section.screen {
    height: 100vh;
    position: relative;
}

/*.header-screen {
    background-color: paleturquoise;
}

 section.screen:nth-child(2) {
    background-color: purple;
}

section.screen:nth-child(3) {
    background-color: seagreen;
}

section.screen:nth-child(4) {
    background-color: tomato;
}

section.screen:nth-child(5) {
    background-color: steelblue;
} */

.header-bg {
    height: 50vh;
    background-image: url('/BG-first floor.png');
    background-size: cover;
    background-position: right bottom;
}

.slider-section {
    height: 50vh;
}

section.screen > .container {
    position: relative;
    /* height: 100vh; */
}

.sc-screen-title {
    left: 10%;
    top: 7vh;
    height: 10vh;
    position: absolute;

    font-family: Hind;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 77px;
    color: #0E293C;
}

.sc-screen-container {
    left: 0;
    top: 20vh;
    height: 70vh;
    position: absolute;
    width: 100%;

    box-shadow: 0px 2px 50px rgba(14, 41, 60, 0.168627);
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding: 15px;
    text-shadow: 0px 0px 5px #000;
    background-size: cover;
}
