section.screen {
    height: 100vh;
    position: relative;
}

.header-screen {
    background-color: paleturquoise;
}

section.screen:nth-child(2) {
    background-color: purple;
}

section.screen:nth-child(3) {
    background-color: seagreen;
}

section.screen:nth-child(4) {
    background-color: tomato;
}

section.screen:nth-child(5) {
    background-color: steelblue;
}

.header-bg {
    height: 50vh;
    background-image: url('/BG-first floor.png');
    background-size: cover;
    background-position: right bottom;
}

.slider-section {
    height: 50vh;
}

.slider-container .carousel-inner {
    height: 50vh;
}

.carousel-inner .slider-preview {

}

.carousel-inner .slider-preview .image {
    position: relative;
    width: 222px;
    height: 413px;
    background-size: cover;
    box-shadow: 0px 2px 50px rgba(14, 41, 60, 0.521569);
    margin-right: 2em;
}
.carousel-inner .slider-preview .caption {
    position: absolute;
    height: 25%;
    background-color: #456789;
    width: 100%;
    left: 10%;
    bottom: 35%;

    color: white;
    font-family: Hind;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    padding: 12px;
}
.carousel-inner .slider-preview .button {
    position: absolute;
    bottom: 19%;
    border: 3px solid #00E1C6;
    height: 10%;
    width: 60%;
    left: 20%;
    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 37px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.carousel-inner .slider-preview .button:hover {
    background: linear-gradient(165.21deg, #00E1C6 0%, #19BBD5 100%);
}
